@import '../base/fn';

// .mod-error {
//   font-size: 26Px;
//   line-height: 1;
//   padding-left: 30px;
//   margin-top: 20Px;
//   color: $color-red;
// }

.ui-error {
  font-size: 26Px;
  line-height: 1;
  padding-left: 30px;
  margin-top: 20Px;
  color: $color-red;
}