<div class="page article-1">
    <div class="page-hd">
      <h1 class="page-hd-desc">icon</h1>
    </div>
    <div class="page-bd comm-padding">
      <div>
        <i class="ui-icon-success"></i>
        <span>成功</span>
      </div>
      <div>
        <i class="ui-icon-fail"></i>
        <span>失败</span>        
      </div>
      <div>
        <i class="ui-icon-selected"></i>
        <i class="ui-icon-unchecked"></i>
        <i class="ui-icon-checked"></i>
        <i class="ui-icon-info--primary"></i>
        <i class="ui-icon-info--reverse"></i>
        <i class="ui-icon-info--default"></i>
        <i class="ui-icon-close--small"></i>
        <i class="ui-icon-arrow-down"></i>
        <i class="ui-icon-arrow-up"></i>
        <i class="ui-icon-arrow-right"></i>
        <i class="ui-icon-arrow-right--small"></i>
        <i class="ui-icon-close"></i>
        <i class="ui-icon-eye--hidden"></i>
        <i class="ui-icon-eye"></i>
        <i class="ui-icon-edit"></i>
        <i class="ui-icon-del"></i>
        <i class="ui-icon-location"></i>
        <i class="ui-icon-add--white"></i>
        <i class="ui-icon-add"></i>
        <i class="ui-icon-close--del"></i>
        <i class="ui-icon-agree--checked"></i>
        <i class="ui-icon-agree--unchecked"></i>
      </div>
      <!--
      <div class="ui-mt-20 ui-icon-wrap--vt-m">
        <i class="ui-icon-info--primary"></i>
        <div>文字图标垂直居中</div>        
      </div>
    </div>
    -->
    <div class="page-ft"></div>
  </div>