<div class="page list">
  <div class="page-hd">
    <h1 class="page-hd-desc">列表项</h1>
  </div>
  <div class="page-bd">
    <div class="comm-padding color-999 ui-mb-10">带说明的列表项</div>

    <div class="ui-info-line">
      <div class="ui-info-item">
        <div class="ui-info-item__desc-left">标题文字</div>
        <div class="ui-info-item__desc-right color-999">说明文字</div>
      </div>
    </div>

    <div class="comm-padding color-999 ui-mt-10 ui-mt-10 ui-mb-10">带图标、说明的列表项</div>
    <div class="ui-info-line ui-mb-10">
      <div class="ui-info-item">
          <div class="ui-icon-wrap">
            <span class="ui-icon-wrap__icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAiElEQVRoQ+3SwQkAIRAEQc0/tc1Jg6iHCH3/WbDr9syc9fG3e8BjvQQeA6wEEsAC/UIYkOcJcEI8kAAG5HkCnBAPJIABeZ4AJ8QDCWBAnifACfFAAhiQ5wlwQjyQAAbkeQKcEA8kgAF5ngAnxAMJYECeJ8AJ8UACGJDnCXBCPJAABuR5ApwQD1xK46LBIZ1n2gAAAABJRU5ErkJggg=="></span>
            <span class="ui-ml-10">标题文字</span>
          </div>          
          <div class="ui-info-item__desc-right color-999">说明文字</div>
      </div>
      <div class="ui-info-item">
        <div class="ui-icon-wrap">
          <span class="ui-icon-wrap__icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAiElEQVRoQ+3SwQkAIRAEQc0/tc1Jg6iHCH3/WbDr9syc9fG3e8BjvQQeA6wEEsAC/UIYkOcJcEI8kAAG5HkCnBAPJIABeZ4AJ8QDCWBAnifACfFAAhiQ5wlwQjyQAAbkeQKcEA8kgAF5ngAnxAMJYECeJ8AJ8UACGJDnCXBCPJAABuR5ApwQD1xK46LBIZ1n2gAAAABJRU5ErkJggg=="></span>
          <span class="ui-ml-10">电子合同</span>
        </div>
        <div class="ui-info-item__desc-right color-999">说明文字</div>
      </div>      
    </div>

    <div class="ui-info-line">
      <div class="ui-info-item ui-info-item--large">
        <div>
          <p>首行文字15px</p>
          <p class="color-999 f-26 ui-mt-14">2017-05-02 15:48:20</p>
        </div>
        <div class="ui-info-item__desc-right">
          <p>15px</p>
          <p class="color-999 f-26 ui-mt-14">次行13px</p>
        </div>
      </div>
    </div>
    
    <div class="comm-padding color-999 ui-mt-10 ui-mb-10">带跳转的列表项</div>
    <div class="ui-info-line">
        <div class="ui-info-item">
          <div class="ui-info-item__desc-left">标题文字</div>
          <div class="ui-info-item__desc-right color-999"><i class="ui-icon-arrow-right"></i></div>
        </div>
        <div class="ui-info-item">
          <div class="ui-info-item__desc-left">标题文字</div>
          <div class="ui-info-item__desc-right color-999"><i class="ui-icon-arrow-right"></i></div>
        </div>      
      </div>
    <div class="comm-padding color-999 ui-mt-10 ui-mb-10">带说明、跳转的列表项</div>
    <div class="ui-info-line">
      <div class="ui-info-item">
        <div class="ui-icon-wrap">
          <span class="ui-icon-wrap__icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAiElEQVRoQ+3SwQkAIRAEQc0/tc1Jg6iHCH3/WbDr9syc9fG3e8BjvQQeA6wEEsAC/UIYkOcJcEI8kAAG5HkCnBAPJIABeZ4AJ8QDCWBAnifACfFAAhiQ5wlwQjyQAAbkeQKcEA8kgAF5ngAnxAMJYECeJ8AJ8UACGJDnCXBCPJAABuR5ApwQD1xK46LBIZ1n2gAAAABJRU5ErkJggg=="></span>
          <span class="ui-ml-10">标题文字</span>
        </div>
        <div class="ui-info-item__desc-right color-999"><i class="ui-icon-arrow-right"></i></div>
      </div>
      <div class="ui-info-item">
        <div class="ui-icon-wrap">
          <span class="ui-icon-wrap__icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAiElEQVRoQ+3SwQkAIRAEQc0/tc1Jg6iHCH3/WbDr9syc9fG3e8BjvQQeA6wEEsAC/UIYkOcJcEI8kAAG5HkCnBAPJIABeZ4AJ8QDCWBAnifACfFAAhiQ5wlwQjyQAAbkeQKcEA8kgAF5ngAnxAMJYECeJ8AJ8UACGJDnCXBCPJAABuR5ApwQD1xK46LBIZ1n2gAAAABJRU5ErkJggg=="></span>
          <span class="ui-ml-10">电子合同</span>
        </div>
        <div class="ui-info-item__desc-right color-999"><i class="ui-icon-arrow-right"></i></div>
      </div>      
    </div>    
    
    <div class="comm-padding color-999 ui-mt-10 ui-mb-10">双行带图标、说明、跳转的列表项</div>
    <div class="ui-info-line">
      <div class="ui-info-item ui-info-item--xlarge">
        <div class="ui-icon-wrap">
          <span class="ui-icon-wrap__icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAiElEQVRoQ+3SwQkAIRAEQc0/tc1Jg6iHCH3/WbDr9syc9fG3e8BjvQQeA6wEEsAC/UIYkOcJcEI8kAAG5HkCnBAPJIABeZ4AJ8QDCWBAnifACfFAAhiQ5wlwQjyQAAbkeQKcEA8kgAF5ngAnxAMJYECeJ8AJ8UACGJDnCXBCPJAABuR5ApwQD1xK46LBIZ1n2gAAAABJRU5ErkJggg=="></span>
          <div class="ui-ml-20">
            <p>招商银行(尾号9286)</p>
            <p class="color-999 f-26 ui-mt-14">单词限额20万元，单日不限额</p>
          </div>
        </div>
        <div class="ui-info-item__desc-right color-999"><i class="ui-icon-arrow-right"></i></div>
      </div>
      <div class="ui-info-item ui-info-item--xlarge">
        <div class="ui-icon-wrap">
          <span class="ui-icon-wrap__icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAiElEQVRoQ+3SwQkAIRAEQc0/tc1Jg6iHCH3/WbDr9syc9fG3e8BjvQQeA6wEEsAC/UIYkOcJcEI8kAAG5HkCnBAPJIABeZ4AJ8QDCWBAnifACfFAAhiQ5wlwQjyQAAbkeQKcEA8kgAF5ngAnxAMJYECeJ8AJ8UACGJDnCXBCPJAABuR5ApwQD1xK46LBIZ1n2gAAAABJRU5ErkJggg=="></span>          
          <div class="ui-ml-20">
            <p>招商银行(尾号9286)</p>
            <p class="color-999 f-26 ui-mt-14">单次限额20万元，单日不限额</p>
          </div>
        </div>
        <div class="ui-info-item__desc-right"><i class="ui-icon-arrow-right"></i></div>
      </div>      
    </div>    

    <div class="comm-padding color-999 ui-mt-10 ui-mb-10">开关</div>
    <div class="ui-info-line">
      <div class="ui-info-item">
        <div class="ui-info-item__desc-left">标题文字</div>
        <div class="ui-info-item__desc-right"><span class="ui-switch-btn"></span></div>
      </div>
      <div class="ui-info-item">
        <div class="ui-info-item__desc-left">标题文字</div>
        <div class="ui-info-item__desc-right"><span class="ui-switch-btn ui-switch-btn--close"></span></div>
      </div>     
    </div>        
  </div>
  <div class="page-ft"></div>
</div>
<script>
  $('.ui-switch-btn').on('click', function() {
    var $this = $(this);
    $this.toggleClass('ui-switch-btn--close');
  })
</script>