<div class="page article-1">
  <div class="page-hd">
    <h1 class="page-hd-desc">Tab 切换</h1>
  </div>
  <div class="page-bd">
    <div class="ui-tab__bar ui-mb-40">
      <div class="ui-tab__tab-item ui-tab__tab-item--active">标题一</div>
      <div class="ui-tab__tab-item">标题二</div>
    </div>

    <div class="ui-tab__bar ui-mb-40">
      <div class="ui-tab__tab-item ui-tab__tab-item--active">标题一</div>
      <div class="ui-tab__tab-item">标题二</div>
      <div class="ui-tab__tab-item">标题三</div>
    </div>

    <div class="ui-tab__bar ui-mb-40">
      <div class="ui-tab__tab-item ui-tab__tab-item--active">标题一</div>
      <div class="ui-tab__tab-item">标题二</div>
      <div class="ui-tab__tab-item">标题三</div>
      <div class="ui-tab__tab-item">标题四</div>
    </div>

    <!-- <div class="ui-tab__scrollwrap ui-mb-40">
      <div class="ui-tab__bar ui-tab__bar--scroll">
        <div class="ui-tab__tab-item">标题一</div>
        <div class="ui-tab__tab-item">标题二</div>
        <div class="ui-tab__tab-item">标题三</div>
        <div class="ui-tab__tab-item">标题四</div>
        <div class="ui-tab__tab-item">标题五</div>
        <div class="ui-tab__tab-item">标题六</div>
        <div class="ui-tab__tab-item">标题七</div>
      </div>
      <div class="ui-tab__arrow"></div>
      <div class="ui-more-category">
        <div class="ui-more-category__list">
          <div class="ui-more-category__list-item">标题一</div>
          <div class="ui-more-category__list-item">标题二</div>
          <div class="ui-more-category__list-item">标题三</div>
          <div class="ui-more-category__list-item">标题四</div>
          <div class="ui-more-category__list-item">标题五</div>
          <div class="ui-more-category__list-item">标题六</div>
          <div class="ui-more-category__list-item">标题七</div>
        </div>
      </div>
    </div> -->
    <div id="tab"></div>
  </div>
  <div class="page-ft"></div>
</div>

<script type="text/javascript">
var data = [
  { value: "3",   label: "汽车用品" },
  { value: "116", label: "生活超市" },
  { value: "2",   label: "手机通讯" },
  { value: "7",   label: "数码影音" },
  { value: "9",   label: "家用电器" },
  { value: "15",  label: "电脑平板" },
  { value: "11",  label: "丽人美妆" },
  { value: "54",  label: "网易严选" },
  { value: "10",  label: "居家常备" },
  { value: "64",  label: "精选母婴" },
  { value: "12",  label: "个人护理" },
  { value: "13",  label: "大牌轻奢" },
  { value: "65",  label: "礼品专区" },
  { value: "115", label: "轻松白拿" },
];

var category = new UI.MoreCategory({
  el: '#tab',
  data: data,
  selectedVal: "115",
  onChange: function(val, idx) {
    console.log(val, idx);
  },
});
</script>
