@import '../base/fn.scss';

.ui-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  
  &::before {
    content: '\3000';
  }
  vertical-align: middle;
}

.ui-icon-arrow-down {
  @extend .ui-icon;
  background: url(/img/arrow-down.png) no-repeat 0 0 ;
  background-size: cover;
}

.ui-icon-arrow-up {
  @extend .ui-icon;
  background: url(/img/arrow-up.png) no-repeat 0 0 ;
  background-size: cover;
}

.ui-icon-arrow-right {
  @extend .ui-icon;
  background: url(/img/arrow-right.png) no-repeat 0 0 ;
  background-size: cover;
}

.ui-icon-arrow-right--small {
  @extend .ui-icon;
  width: 30px;
  height: 30px;
  background: url(/img/arrow-right-sm.png) no-repeat 0 0 ;
  background-size: cover;
}

.ui-icon-help {
  @extend .ui-icon;
  background: url(/img/help.png) no-repeat 0 0 ;
  background-size: cover;
}

.ui-icon-close {
  @extend .ui-icon;
  width: 60px;
  height: 60px;
  background: url(/img/close.png) no-repeat 0 0 ;
  background-size: cover;  
}

.ui-icon-close--small {
  @extend .ui-icon;
  background: url(/img/close-sm.png) no-repeat 0 0 ;
  background-size: cover;  
}

.ui-icon-close--del {
  @extend .ui-icon;
  background: url(/img/form-del.png) no-repeat 0 0 ;
  background-size: cover;  
}

.ui-icon-success {
  @extend .ui-icon;
  background: url(https://images.jyblife.com/ui_icon/success.png) no-repeat 0 0 ;
  background-size: cover;  
  width: 214px;
  height: 214px;
}

.ui-icon-fail {
  @extend .ui-icon;
  background: url(https://images.jyblife.com/ui_icon/fail.png) no-repeat 0 0 ;
  background-size: cover;  
  width: 214px;
  height: 214px;
}

.ui-icon-unchecked {
  @extend .ui-icon;
  background: url(/img/unchecked.png) no-repeat 0 0 ;
  background-size: cover;  
}

.ui-icon-checked {
  @extend .ui-icon;
  background: url(/img/checked.png) no-repeat 0 0 ;
  background-size: cover;  
}

.ui-icon-check--disabled {
  @extend .ui-icon;
  background: url(/img/checkbox_disabled.png) no-repeat 0 0 ;
  background-size: cover;  
}

.ui-icon-info--primary {
  @extend .ui-icon;
  background: url(/img/info-primary.png) no-repeat 0 0 ;
  background-size: cover;  
}

.ui-icon-info--default {
  @extend .ui-icon;
  background: url(/img/info-default.png) no-repeat 0 0 ;
  background-size: cover;  
}

.ui-icon-info--reverse {
  @extend .ui-icon;
  background: url(/img/info-reverse.png) no-repeat 0 0 ;
  background-size: cover;  
}

.ui-icon-eye {
  @extend .ui-icon;
  background: url(/img/eye.png) no-repeat 0 0 ;
  background-size: cover;    
}

.ui-icon-eye--hidden {
  @extend .ui-icon;
  background: url(/img/eye-hidden.png) no-repeat 0 0 ;
  background-size: cover;    
}

.ui-icon-edit {
  @extend .ui-icon;
  background: url(/img/edit.png) no-repeat 0 0 ;
  background-size: cover;    
}

.ui-icon-edit {
  @extend .ui-icon;
  background: url(/img/edit.png) no-repeat 0 0 ;
  background-size: cover;
}

.ui-icon-location {
  @extend .ui-icon;
  background: url(/img/location.png) no-repeat 0 0 ;
  background-size: cover;
}

.ui-icon-add {
  @extend .ui-icon;
  background: url(/img/add.png) no-repeat 0 0 ;
  background-size: cover;
}

.ui-icon-add--white {
  @extend .ui-icon;
  background: url(/img/add-white.png) no-repeat 0 0 ;
  background-size: cover;
}

.ui-icon-agree--unchecked {
  @extend .ui-icon;
  background: url(/img/agree-unchecked.png) no-repeat 0 0 ;
  background-size: cover;
  width: 48px;
  height: 48px;
}

.ui-icon-agree--checked {
  @extend .ui-icon;
  background: url(/img/agree-checked.png) no-repeat 0 0 ;
  background-size: cover;
  width: 48px;
  height: 48px;
}

.ui-icon-selected {
  @extend .ui-icon;
  background: url(/img/selected.png) no-repeat 0 0 ;
  background-size: cover;
}

.ui-icon-sort {
  @extend .ui-icon;
  width: 48px;
  height: 48px;
  background: url(/img/sort.png) no-repeat 0 0 ;
  background-size: cover;
}