@import '../base/fn';

.ui-popup {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  transition: transform .3s ease;
  transform:translate3d(0, 100%, 0);
  backface-visibility: hidden;
  background: #fff;
  font-size: 30Px;
  z-index: 1034;  
}

.ui-popup--show {
  transform:translate3d(0, 0, 0);
}

.ui-popup__title {
  @include elementBorder($color-border, after, bottom);
  color: $color-dark;
  position: relative;    
  $height: 104Px; 
  height: $height;
  line-height: $height;
  padding: 0 30px;
  text-align: center;
  font-size: $fontSizeXLarge;
  // @extend %border-bottom;
}

.ui-popup__title--noborder {
  &:after {
    content: none !important;
  }
}

.ui-popup__fn-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 100Px;
  height: 100Px;
  text-align: center; 
  font-size: $fontSizeLarge;
}

.ui-popup__fn-button--hl {
  color: $color-primary;
}

.ui-popup__fn-button--left {
  left: 0;
  right: auto;
}

.ui-popup__content {
  box-sizing: border-box;
  max-height: 934Px;
}

.ui-popup__footer {
  position: relative;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;  
}

.ui-slide-up {
  transform: translate3d(0, 100%, 0);
}