// 主色
$color-primary: #ff6e34;

// 辅助色
$color-red: #FF3030;
$color-blue: #0183ff;
$color-green: #5CCB0A;

// 背景色
$color-bg: #F5F5F5;

// 分割线
$color-border: #E6E6E6;

// 一级文字
$text-color-first: #333;
// 正文文字
$text-color-primary: #666;
// 二级文字
$text-color-secondary: #999;
// 说明文字
$text-color-intro: #ccc;
// 顶部导航文字
$text-color-nav: #515151;
// 反白文字
$text-color-reverse: #fff;

$color-gray: #ccc;
$color-dark-gray: #666;
$color-white: #fff;
$color-dark: #333;
$color-light: #999;
