$fontSizePrimary: 26Px;
$fontSizeSmall: 24Px;
$fontSizeXSmall: 22Px;
$fontSizeXXSmall: 20Px;
$fontSizeLarge: 30Px;
$fontSizeXLarge: 34Px;
$fontSizeXXLarge: 36Px;
$fontSizeXXXLarge: 40Px;

$fontSizes: 0 20 22 24 26 30 34 36 40;

$fontFamily: "PingFang SC", "Roboto", arial;
